.p {

  padding: 4px;
  font-family: sans-serif;
  font-size: 20px

}

.jumbotron {
  background-image: url(https://d1ciw9phtlkz3p.cloudfront.net/trip-ideas/Tropical/Header-Image-Small.jpg);
  margin-bottom:20px;
  position: relative;
  background-size: cover;
  background-position: 0% 45%;
  background-repeat: no-repeat;
  color:green;
  text-align: center;
  text-shadow: lavender 0.3em 0.3em 0.3em;
  font-size: 60px;

}



body {
  background-color: #FFFFCC;
}




#Rome {
  display: none;
}

#Antarctica {
  display: none;
}

#Hawaii {
  display: none;
}
